.ImageChooser {
	display: flex;
	flex-flow: column;
	height: 100%;
	text-align: left;
}

.header {
	flex: 0;
}

.contentWrapper {
	flex: 1 1 auto;
	position: relative;	
}

.content {
	border-top: 1px solid gray(95%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.library {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
}

.browser {
	flex: 1 1 100%;
}

.selectedImage {
	flex: 0 0 20rem;
	width: 20rem;
	border-left: 1px solid gray(95%);
	padding: 2%;
}

.imagePreview {
	& img {
		width: 100%;
		height: auto;
	}
}

.footer {
	border-top: 1px solid gray(95%);
	padding: 2%;
}
