.block {
	text-align: center;
	position: relative;
	padding: 1rem 0;

	:global {
		& .rich-text-editor {
			margin-top: 0;
		}
	}
}

.block-actions {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 300ms ease, visibility 0s linear 300ms;
	z-index: 1010;

	@nest .block:hover & {
		transition-delay: 0;
		opacity: 1;
		visibility: visible;
	}
}

.image {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid gray(95%);
	padding: 1rem;
}

.selected-images {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	img {
		height: 10rem;
		width: auto;
		margin-top: 1px;

		& + img {
			margin-left: 1px;
		}
	}

	&[data-columns='2'] {
		width: 20.5rem
	}

	&[data-columns='3'] {
		width: 30.5rem
	}

	&[data-columns='4'] {
		width: 40.5rem
	}

	&[data-columns='5'] {
		width: 50.5rem
	}

	&[data-columns='6'] {
		width: 60.5rem
	}
}

.image-controls {
	text-align: right;
}

.rich-text {

}
