.block {
	text-align: center;
	position: relative;
	padding: 1rem 0;

	:global {
		& .rich-text-editor {
			margin-top: 0;
		}
	}
}

.add-block,
.block-actions {
	transition: all 100ms ease-in;
}

.add-block {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translatey(-50%);
	z-index: 1020;

	:global .btn {
		background-color: #fff;
		padding-top: .5em;
		padding-bottom: .5em;
	}

	@nest .block:hover & {
		opacity: 1;
		visibility: visible;
	}
}

.block-actions {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	z-index: 1010;

	@nest .block:hover & {
		opacity: 1;
		visibility: visible;
	}
}

.image {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid gray(95%);
	padding: 1rem;
}

.selected-images {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 50%;

	img {
		max-height: 10rem;
		width: auto;
		margin-top: 1px;

		& + img {
			margin-left: 1px;
		}
	}

	&[data-columns='2'] {
		width: 20.5rem
	}

	&[data-columns='3'] {
		width: 30.5rem
	}

	&[data-columns='4'] {
		width: 40.5rem
	}

	&[data-columns='5'] {
		width: 50.5rem
	}

	&[data-columns='6'] {
		width: 60.5rem
	}
}

.image-controls {
	text-align: right;
}

.rich-text {

}
