.form {
	padding-bottom: 4.5rem;
}

.node-actions {
	position: fixed;
	bottom: 0;
	left: 15rem;
	right: 0;
	height: 4.5rem;
	background-color: gray(50%);
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 1rem;

	:global {
		.btn {
			background-color: #fff;
		}
	}
}

.revisions {
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.current-revision {
	padding: .5em .75em;
	color: gray(75%);
	font-size: .8em;
}

.revisions-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background-color: #fff;
	bottom: 100%;
	right: 0;
	margin-bottom: 1rem;
}

.revision {
	padding: .5rem 1rem;
	border: 1px solid gray(95%);
	min-width: 15em;
	display: block;
	margin-top: -1px;
	text-decoration: none;
}
