* {
  box-sizing: border-box;
}

body {
  background-color: gray(50%);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: gray(30%);
}

a,
.link {
  $color: #6e9ab5;
  color: $color;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color, 15%);
  }

  &:active,
  &.active {
    color: darken($color, 25%);
  }
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid gray(80%);
  padding: .75em 1em;
  font-size: .9em;
  color: gray(40%);
  cursor: pointer;
  transition: background-color 300ms ease-in, border-color 300ms ease-in, color 300ms ease-in;
  text-decoration: none;

  &:hover {
    background-color: gray(92.5%);
  }

  &:active,
  &:focus {
    outline: 0;
  }

  &:active,
  &:focus {
    transition: none;
    background-color: gray(70%);
    border-color: gray(60%);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: gray(40%);
  }
}
