.root {
	> a,
	> button {
		display: block;
		float: left;
		padding: .5em 1.5em;
		background: gray(95%);
		border: 1px solid gray(80%);

		@nest &:global(.active) {
			background: transparent;
			border-bottom: none;
		}
	}

	@nest &::after {
		content: ' ';
		display: table;
		clear: both;
	}
}
