.filters {
	text-align: center;
}

.show-button {
	font-size: .8em;
	border: none;
	padding: .2em;
}

.date-range {
	display: flex;
	flex-flow: row;

	:global(.input-wrapper) {
		width: 50%;

		&:global:first-child {
			padding-right: 1rem;
		}

		&:global:last-child {
			padding-left: 1rem;
		}
	}
}
